@*@model OnlineExamApp.ViewModel.OptionViewModel*@
@model OnlineExamApp.Business.ViewModel.ProposedAnswerViewModel

@{
    Layout = null;
}
<p>
    @Html.CheckBoxFor(x => x.IsSelected)  @Model.Text
    @Html.HiddenFor(x => x.ID)
</p>
